django
gunicorn
django-heroku
pyrebase
youtube_dl
SpeechRecognition
pydub
googletrans
google-cloud-vision
wikipedia
bs4
threaded
moviepy
google-api-core==1.4.1
youtube-search
google
weasyprint
selenium
twilio
